.c-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	&:hover {
		opacity: .8;
	}
}
.c-btn--submit {
	@extend .c-btn;
	width: 320px;
	background: #41a1d5;
}
.c-btn--clear {
	@extend .c-btn;
	width: 100px;
	background: #fff;
	border: 1px solid #ccc;
	color: #9fa0a0;
	font-size: 14px;
	&:hover {
		background: #e6e6e6;
		border-color: #adadad;
	}
}
