$maxWidth: 1000px;
$brandColor: #cd6799;
$padding: 70px 0;

$class: facebook, google, twitter, pinterest, behance, dribbble;
$color: #4668b3, #de5745, #2fbbed, #d94348, #3079ff, #eb6397;


$map: (
	facebook: #4668b3,
	google: #de5745,
	twitter: #2fbbed,
	pinterest: #d94348,
	behance: #3079ff,
	dribbble: #eb6397,
);

